# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
*.egg-info/
.Python

# MacOS/Linux/Windows OS files
.DS_Store
Thumbs.db

# IDE/editor config
.vscode/
.idea/
*.log

# Hidden system files
*.swp
